# Build folder
cmake-build-*/*
build/

# re includes its own files
!cmake-build-*/data/rooms.txt
!cmake-build-*/data/connections.txt
!cmake-build-*/data/androids.txt
!cmake-build-*/data/items.txt
!cmake-build-*/data/report.txt
!cmake-build-*/data/log.txt

# CLion files
.idea/

# Compiled files
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile